.pabutton{
    float: right;
}

ion-toolbar{
    --background:transperent;
    background: #3ab243;
}

ion-item{
    border-radius: 20px;
    height: 65px;
    background: no-repeat;
    margin: 10px 1px;
    color: #f2efd9;
    --background: #208891;
  }


  ionic-content{
      --background:transperent;
  }

  