.itemaddbtn{
    float: right;
}


ion-item{
    border-radius: 20px;
    height: 65px;
    background: no-repeat;
    margin: 10px 10px;
    color: #f2efd9;
    --background: #208891;
  }

  .imageview{
     
      height: 100px;
      background-color: gray;
  }
  ion-content{
    position: absolute;
  }
  ion-toolbar{
    background-color: #208891;
  }
  //.innerdiv{
    // height: 350px;
    // max-height: 350px;
    // overflow-y: scroll;
  // }

  ion-fab{
      background-color: transparent;
  }

  ion-card{
      ion-card-content{
        display: flex;
        justify-content: space-evenly;
        padding: 2px;
      }
      background-color: transparent;
      display: flex;
      justify-content: space-evenly;
  }

  .attachmentbtn{
    display: flex;
  }

  .trashicon{
    position: absolute;
    border-radius: 20px;
    padding: 3px;
    right: 0;
    bottom: 15px;
    background-color: red;
  }

  .doqnloadicon{
    position: absolute;
    border-radius: 20px;
    padding: 3px;
    right: 0;
    top: 0;
    background-color: palegreen;
  }

  .expandicon{
    position: absolute;
    border-radius: 20px;
    padding: 3px;
    right: 0;
    top: 35%;
    background-color: rgb(108, 193, 219);
  }

  .toolbar_head{
    display: flex;
    justify-content: flex-end;
  }
  .closeicon{
    padding: 4px;
  }