<ion-header  class="ion-no-border" translucent="false">
  <ion-toolbar>
    <div class="toolbar_head">
      
      <ion-title>Expense Manager</ion-title>
      <ion-icon size="large" class="closeicon" slot="icon-only" name="close-circle" (click)="popupclose()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="innerdiv">

 
  <ion-item>
    <ion-label position="floating">
      Date
    </ion-label>
    <ion-datetime [(ngModel)]="dateonadd" id="amount" display-format="DD/MM/YYYY">

    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Title
    </ion-label>
    <ion-input placeholder='Title' [(ngModel)]="title" id="title">

    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Amount
    </ion-label>
    <ion-input placeholder='Amount' type="number" [(ngModel)]="amount" id="amount">

    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Type of transaction
    </ion-label>
    <ion-select interface="popover" [(ngModel)]="mySelect" (ionChange)="onChange($event)">
      <ion-select-option value="credit">
        Credit
      </ion-select-option>
      <ion-select-option value="debit">
        Debit
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Type of Expense
    </ion-label>
    <ion-select interface="popover" [(ngModel)]="typeselect" (ionChange)="onChangetype($event)">
      <ion-select-option value="default">
        Select Type
      </ion-select-option>
      <ion-select-option *ngFor="let n of typesofExp" [value]="n">{{n}}</ion-select-option>
    </ion-select>
  </ion-item>
  

    <ion-button class="attachmentbtn" (click)="UploadAttachment();">
      <ion-icon size="small" slot="icon-only" name="images"></ion-icon>
      &nbsp; Add Attachments
    </ion-button>


  <div *ngIf="Photoes">
    <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOpts">
      <ion-slide  *ngFor="let p of Photoes"> 
        <ion-card>   
          <ion-card-content>
            <img class="imageview" [src]="p.image">
            <ion-icon name="trash" class="trashicon" (click)="Deleteimage(p.id)" slot="icon-only" size="small"></ion-icon>
            <ion-icon name="download" class="doqnloadicon" (click)="Downloadimage(p.image)" *ngIf="p.type == 'frombase'" slot="icon-only" size="small"></ion-icon> 
            <ion-icon name="expand" class="expandicon" (click)="fullimage(p.image)" slot="icon-only" size="small"></ion-icon> 
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    
  </div>
  <ion-button *ngIf="AddBtn" class="itemaddbtn" (click)="Add_data()">Add</ion-button>
    <ion-button *ngIf="!AddBtn" class="itemaddbtn" (click)="Edit_data()">Edit</ion-button>
</div>



</ion-content>