<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <div class="toolbardiv">

      <ion-icon name="arrow-back-outline" class="ion-padding" [routerLink]="['/home']">back</ion-icon>
      <ion-title>Registration</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form [formGroup]="FormLoginregister" (ngSubmit)="LoginRegister()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    
<div class="intldiv">


    <!-- <ion-label class="phlabel" position="floating">phone</ion-label> -->
    <ngx-intl-tel-input class="custom"
    
    [enableAutoCountrySelect]="false"
    [enablePlaceholder]="true"
    [searchCountryFlag]="true"
    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" 
    [selectFirstCountry]="false" placeholder="mobile number"
    [selectedCountryISO]="CountryISO.India" [maxLength]="10" 
    [phoneValidation]="true" [inputId]="my-input-id"
    name="phone" formControlName="phone"></ngx-intl-tel-input>
</div>
  
    

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <div class="btnlr">

      <ion-button (click)="LoginRegister()" [disabled]="FormLoginregister.invalid">
        Login or Register
      </ion-button>
    </div>

    <div class="regdiv">


      {{registerNote}}
      <button *ngIf="ishidden" class="btn btn-dark" (click)="register()"
        [disabled]="FormLoginregister.invalid">Register</button>

    </div>

  </form>

</ion-content>