.btnlr{
  text-align: center;
}

.regdiv{
    text-align: center;
}

form{
    button{
        align-items: center;
    }
}

ion-item{
    border-radius: 20px;
    height: 65px;
    background: no-repeat;
    margin: 10px 1px;
    color: #f2efd9;
    --background: #208891;
  }

  ion-content{
      position: fixed;
  }

  form{
    margin: 40% 10%;
    padding: 10px;
    background: #fdfdfd75;
    border-radius: 20px;
  }

  .toolbardiv{
    display: flex;
  }


  .custom{
    z-index: 1000;
    border: 0px;
    background: transparent;
   // height: 60px;
   .iti *{
     color: red;
   }
    /* margin: -1px; */
    border-radius: 20px;
  }


  // .phlabel{
  //   position: fixed;
  //   margin-bottom: 20px;
  // }

  .intldiv{
    height: 60px;
    background: #208891;
    width: 100%;
    margin: 2px 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    input{
      background: transparent;
    }
  }

  ///ngx-intl-input
  ngx-intl-tel-input {
    div{
      div{
        input{
          background:red;
        }
      }
    }
   
  }

  #my-input-id{
    background: gray;
  }
 


  /////

 