<ion-split-pane contentId="menu">
  <ion-menu contentId="menu" side="start" type="overlay">
    <ion-header class="ion-no-border" translucent="true">
      <ion-toolbar>
        <ion-title>Expense Manager</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle autoHide="false">

        <ion-item (click)="GotoMenu('expenses')" lines="none">
          <ion-label>Expenses</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false" *ngIf="!ishidden">
        <ion-item (click)="GotoMenu('familytree')" lines="none">
          <ion-label>Members</ion-label>
          <ion-label class="keydis">{{fkey}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">

        <ion-item (click)="GotoMenu('home')" lines="none">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <!-- <ion-menu-toggle>
        <ion-item lines="none">
          <ion-label>Theme Dark / Light</ion-label>
          <ion-toggle (ionChange)="ChangeColor($event)" slot="end"></ion-toggle>
        </ion-item>
      </ion-menu-toggle> -->
      <div class="reachus">
        <ion-label>Reach out to us <a href="mailto:indiaexternal2020@gmail.com"> indiaexternal2020@gmail.com </a> </ion-label>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-split-pane>