<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <div class="headerExpense">
      <ion-col size="2">
        
        <ion-buttons>
          <ion-menu-button class="menubtn"></ion-menu-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="5">
      <div class="titleDiv">

        <ion-label class="titlelabel">Hi, {{name}} </ion-label>
      </div>
        
        
      </ion-col>
      <ion-col size="5">
        
        <ion-item lines="none" class="ion-no-border">
          <!-- <ion-icon name="calendar-outline"></ion-icon> -->
          <!-- <ion-datetime displayFormat="MMMM, YYYY" value="" [(ngModel)]="monthDate" (ionChange)="ChangedDate(monthDate)"></ion-datetime> -->
          <!-- <div> -->
            <!-- <label>{{setdate | date:'MMMM yy'}}</label> -->
            <label class="labelDate">{{setdate | date:'dd MMM yyyy'}}</label>
            <!-- <ion-icon class="iconcal" name="md-calculator"></ion-icon> -->
            <input class="btn btn-dark form-controll cdatepick" type="date" id="pickdate" [(ngModel)]="datepick" (change)="changenewdate(datepick)">
            <!-- <ion-icon name="log-out-outline" (click)="Logout()" class="logoutbtn"></ion-icon> -->
            <!-- </div> -->
          </ion-item>
        </ion-col>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="selfcontent">
  <!-- <div>

    <ion-label>Welcome {{name}}</ion-label>
  </div> -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <button class="fabbtn">
      <ion-icon name="add" (click)="add_new_data()"></ion-icon>
    </button>
  </ion-fab>
    <!-- <ion-item>
      <ion-label>Month</ion-label>
     
    </ion-item> -->
    <div class="balance">
      
      <ion-slides mode="md" pager="md" scrollbar="md" slidepreview="1.5">
        <ion-slide>
          <ion-card>
            <ion-card-header class="ccard">
              <ion-card-subtitle>Credit</ion-card-subtitle>
              <!-- <ion-card-title>Awesome Title</ion-card-title> -->
            </ion-card-header>
            <ion-card-content>
              {{Creditbal}}
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header class="dcard">
              <ion-card-subtitle>Debit</ion-card-subtitle>
              <!-- <ion-card-title>Awesome Title</ion-card-title> -->
            </ion-card-header>
            <ion-card-content>
              {{Debitbal}}
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header class="bcard">
              <ion-card-subtitle>Balance</ion-card-subtitle>
              <!-- <ion-card-title>Awesome Title</ion-card-title> -->
            </ion-card-header>
            <ion-card-content>
              {{Creditbal - Debitbal}}
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <!-- <label>Credit <p>{{Creditbal}}</p> </label>
      <label>Debit <p>{{Debitbal}}</p> </label>
      <label>Balance <p>{{Creditbal - Debitbal}} </p></label> -->
    </div>
    
  <div class="listdiv">
    <!-- <ion-item class="refreshicon">
      <ion-icon slot="end" name="refresh" (click)="Refresh_items()"></ion-icon>
    </ion-item>  -->
    <ion-refresher slot="fixed" (ionRefresh)="ExpenseList($event)" pullMin="100" pullMax="200">
      <ion-refresher-content 
        pullingIcon="arrow-down-outline" 
        refreshingSpinner="crescent"
        
        >
        <!-- pullingText="Pull to refresh"  -->
        <!-- refreshingText="Refreshing..." -->
      </ion-refresher-content>
    </ion-refresher>
    <ion-list class="listmain" >
      <ion-item-sliding *ngFor="let e of ExpennseList">
        <ion-item-options side="end">
           <ion-item-option color="success" (click)="View(e)">View</ion-item-option>
          <ion-item-option color="danger" (click)="Delete(e)">Delete</ion-item-option>
        </ion-item-options>
      <ion-item lines="none" class="ion-no-padding">
       

        <div class="explistcontainer ion-no-padding">

          <div class="listitemdate">
            <label class="datelabel">{{e.date_on | date:'dd MMMM'}}</label> 
            <label class="pdate">{{e.date_on | date:'hh:mm a'}}</label>
          </div>
          <ion-item class="listitem ion-no-padding" lines="none">
            <ion-icon *ngIf="e.Transaction_Type == 'credit'" name="trending-up-outline" class="creditUp"></ion-icon>
            <ion-icon *ngIf="e.Transaction_Type == 'debit'" name="trending-down-outline" class="debitdown"></ion-icon>
            
            
            <ion-label 
            [ngClass]="{debit: e.Transaction_Type == 'debit',
            credit: e.Transaction_Type == 'credit'}">
              {{e.Title}} <p>{{e.byName}}</p>
            </ion-label>
            <p class="Amount" [ngClass]="{debit: e.Transaction_Type == 'debit',
            credit: e.Transaction_Type == 'credit'}">{{e.Amount}}</p>
          </ion-item>
        </div>





      </ion-item>
      </ion-item-sliding> 
    </ion-list>
  </div>


</ion-content>