.explistcontainer{
    width: 100%;
    margin-top: 10px;
}

.debit{
    color: red;
}

.credit{
    color: green;
}
.listdiv{
    max-height: 85%;
    overflow-y: scroll;
}

.listitem{
    opacity: 0.9;
    margin:5px;
    
}

.listmain{
    background-color: transparent;
}

ion-item::part(native) {
    background: transparent;
}

.listitemdate{
    opacity: 0.4;
    margin: 2px;
    height: 0px;
    padding:0px;
    display: flex;
    justify-content: space-between;
}

.datelabel{
    font-size: 9px;
} 

.pdate{
    font-size: 10px;
    
}

.headerExpense{
    display: flex;
}
.balance{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

hr{
    margin: 2px;
}