.explistcontainer{
    width: 100%;
    margin-top: 10px;
}

.debit{
    color: red;
}

.credit{
    color: green;
}
.listdiv{
    max-height: 85%;
    overflow-y: scroll;
}

.listitem{
    opacity: 0.9;
    margin:5px;
    
}
.logoutbtn{
    position: fixed;
    margin-left: 40%;
}

.listmain{
    background-color: transparent;
}

ion-item::part(native) {
    background: transparent;
}

.listitemdate{
    opacity: 0.4;
    margin: 2px;
    height: 0px;
    padding:0px;
    display: flex;
    justify-content: space-between;
}

.datelabel{
    font-size: 9px;
} 

.pdate{
    font-size: 10px;
    
}

.headerExpense{
    display: flex;
}
.balance{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    p{
        font-size: larger;
    }
}

hr{
    margin: 2px;
}

.cdatepick{
    //background-color: transparent;
    background-color: transparent;
    font-size: 12px;
    border: 1px;
    color: transparent;
    //border: 0px;
    //padding: 0px;
    //color: transparent;

}
.labelDate{
    margin-left: -10px;
    position: fixed;
    /* margin: 50px; */
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 42%;
    pointer-events: none;

}
.headtitle{
    max-width: 50%;
    font-size: 15px;

}

.iconcal{
    pointer-events: none;
    position: fixed;
    margin-left: 30%;

}
.Amount{
    font-size: 45px;
    opacity: 0.4;
}