<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Family Expenses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Femily Expenses</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center;">
    <strong>Wanna start !! <br> Create Family Tree first </strong><br>

    <button class="btn btn-primary" (click)="gotofamilytreecreate()">Create Family Tree</button>
   
    <div class="container-fluid">
      <div class="container">
          <strong>Already have Family Key</strong><br>
     <div class="">

    </div>
    <div class="container-fluid">
      <form [formGroup]="Formverify" (ngSubmit)="verifyRecord()">

        <ion-item>
          <ion-label position="floating">Userame</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Family Key</ion-label>
          <ion-input formControlName="FamilyKey"></ion-input>
        </ion-item>
    
    
        <ion-button class="btnadmember" (click)="verifyRecord()" [disabled]="Formverify.invalid">
        Verify
        </ion-button>
    
      </form>
    </div>
      </div>
    </div>
  </div>
</ion-content>
