#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

strong{
  color:#ffffff;
}

.condiv{
  background: #fdfdfd75;
  border-radius: 20px;
  position: fixed;
  bottom: 50px;
  left: 20px;
  /* margin: 20px 20px; */
  /* min-width: 95%; */
  right: 20px;
 
}

ion-item{
  border-radius: 20px;
  height: 65px;
  background: no-repeat;
  margin: 10px 1px;
  color: #f2efd9;
  --background: #208891;
}

.lottiediv{
  height: 45%;
}

.btn-primary{
  border-color: #a07ef4;
  background-color: #a07ef4;
}
ion-label{
  --color:var(--background)
}

.reachus{
  position: fixed;
  bottom: 0px;
  text-align: center;
  color:white;
  background: rgba(255, 255, 255, 0.507);
  width: 100%;
}