<ion-header translucent="false"  class="ion-no-border">
  <ion-toolbar>
    <div class="toolbarhead">
<ion-buttons>
  <ion-menu-button></ion-menu-button>
</ion-buttons>
      <!-- <ion-icon name="arrow-back-outline" class="ion-padding" [routerLink]="['/home']">back</ion-icon> -->
      <ion-title>Members</ion-title>
      <!-- <ion-icon name="calculator" class="ion-padding" [routerLink]="['/expenses']"></ion-icon> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-no-padding">
  <div class="keydivclass">
    <ion-label class="fkey" (click)="Sharekey()">Your key is <p> {{Familykey}} </p>
    </ion-label>
    <ion-icon class="shareicon" (click)="Sharekey()" slot="end" name="share"></ion-icon>
  </div>

  <form [formGroup]="FormCreateFamilyHead" (ngSubmit)="CreateRecord()">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <div class="intldiv">


      <!-- <ion-label class="phlabel" position="floating">phone</ion-label> -->
      <ngx-intl-tel-input class="custom"
      
      [enableAutoCountrySelect]="false"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" 
      [selectFirstCountry]="false" placeholder="mobile number"
      [selectedCountryISO]="CountryISO.India" [maxLength]="10" 
      [phoneValidation]="true" [inputId]="my-input-id"
      name="phone" formControlName="phone"></ngx-intl-tel-input>
  </div>

    <ion-button class="btnadmember" (click)="CreateRecord()" [disabled]="FormCreateFamilyHead.invalid">
      <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
      &nbsp;Add Member
    </ion-button>

  </form>
  <div class="listmemberlist">
    <div class="listtitle">
      
      <label>Members 😍</label>
    </div>
      <ion-list class="listmember" lines="full">
        <ion-item-sliding *ngFor="let m of Members">
          <ion-item-options side="end">
            <ion-item-option *ngIf='m.IsMaster === "false"' (click)="Action(m)">Action</ion-item-option>
            <ion-item-option color="danger" (click)="Delete(m)">Delete</ion-item-option>
          </ion-item-options>
        <ion-item lines="none">
          <div class="familymemberdiv">
            <ion-col size="2">
              <label class="iconsetup">{{m.Name.substring(0,1)}}</label>  
              
            </ion-col>
            <ion-col size="10">
              <div>

                <label class="userlabel">{{m.Name}}</label>
              </div>
              
              <label class="userlabel">{{m.username}}</label>
            </ion-col>
            <!-- (click)="OnclickMember(m)" -->
          </div>

        </ion-item>
      </ion-item-sliding>
      </ion-list>

  </div>

  <!-- <div class="bottomlabel">
    <label>
      You can continue by seleting your slef from Family Tree's List 😎
    </label>
  </div> -->
</ion-content>