.toolbarhead {
    display: flex;
}
.fkey {
    display: flex;
    align-items: center;
    p {
        color: silver;
        font-size: 20px;
        font-weight: 900;
        margin-top: 2px;
        margin-left: 12px;
    }
    padding: 0px;
    border-bottom: silver 1px;
}
.btnadmember {
    margin-left: 50%;
}


.listtitle{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: #208891;
}
.listmemberlist {
   overflow-y: scroll;
   max-height: 93%;
   min-height: 93%;
   margin-top: 10px;
   .listmember{
       background-color: transparent;
   }
   background-color:#ffffff ;
   z-index: 100;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
    // border: 1px solid snow;
}


.bottomlabel{
    position: fixed;
    bottom: 10px;
    text-align: center;
    opacity: 0.3;
}

ion-content{
    position: fixed;
}

.keydivclass{
    margin-top:65px;
    margin-bottom: 5px;
    color:#ffffff;
    display: flex;
    justify-content: center;
}
.shareicon{
  margin: 5px;
  font-size: 20px;
}

form{
    // margin: 40% 10%;
    padding: 10px;
    background: #fdfdfd75;
    border-radius: 20px;
    margin: 0px 20px;
    ion-item{
        border-radius: 20px;
        height: 65px;
        background: no-repeat;
        margin: 10px 1px;
        color: #f2efd9;
        --background: #208891;
      }
  }

  .userlabel{
      text-transform: capitalize;
      font-size: 20px;
    color: #208891;
  }

  .familymemberdiv{
      width: 100%;
      display: flex;

  }

  .iconsetup{
      background: #208891;
      text-transform: capitalize;
      padding: 10px;
      font-size: 25px;
      color: white;
      text-align: center;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      
  }

  .intldiv{
    height: 60px;
    background: #208891;
    width: 100%;
    margin: 2px 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    input{
      background: transparent;
    }
  }
  ngx-intl-tel-input {
    div{
      div{
        input{
          background:red;
        }
      }
    }
   
  }

  #my-input-id{
    background: gray;
  }