.toolbarhead {
    display: flex;
}
.fkey {
    display: flex;
    align-items: center;
    p {
        color: silver;
        font-size: 20px;
        font-weight: 900;
        margin-top: 2px;
        margin-left: 12px;
    }
    padding: 0px;
    border-bottom: silver 1px;
}
.btnadmember {
    margin-left: 50%;
}


.listtitle{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: #208891;
}
.listmemberlist {
   overflow-y: scroll;
   max-height: 93%;
   min-height: 93%;
   margin-top: 10px;
   .listmember{
       background-color: transparent;
   }
   background-color:#ffffff ;
   z-index: 100;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
    // border: 1px solid snow;
}


.bottomlabel{
    position: fixed;
    bottom: 10px;
    text-align: center;
    opacity: 0.3;
}

ion-content{
    position: fixed;
}

.keydivclass{
    margin-top:65px;
    margin-bottom: 5px;
    color:#ffffff;
    display: flex;
    justify-content: space-around;
}

form{
    // margin: 40% 10%;
    padding: 10px;
    background: #fdfdfd75;
    border-radius: 20px;
    margin: 0px 20px;
    ion-item{
        border-radius: 20px;
        height: 65px;
        background: no-repeat;
        margin: 10px 1px;
        color: #f2efd9;
        --background: #208891;
      }
  }

  .userlabel{
      text-transform: capitalize;
      font-size: 20px;
    color: #208891;
  }